@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #fff0f2; /* Light marsala pastel */
  --color-accent: #d47a8c;  /* Vibrant marsala */
  --color-accent-dark: #913c4c; /* Deep Marsala */
  --color-text-main: #332225;
  --color-text-muted: #786568;
  --color-bg-light: #fdfbfb;
  
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-main);
  background-color: var(--color-bg-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
